@tailwind base;
  @tailwind components;
  @tailwind utilities;

@import "~stream-chat-react/dist/css/v2/index.css";

@layer base {
    :root {
      --background: 198 34% 98%;
      --foreground: 198 56% 3%;
      --muted: 168 23% 95%;
      --muted-foreground: 168 8% 29%;
      --popover: 198 34% 98%;
      --popover-foreground: 198 56% 3%;
      --card: 198 34% 98%;
      --card-foreground: 198 56% 3%;
      --border: 198 15% 89%;
      --input: 198 15% 89%;
      --primary: 198 92% 25%;
      --primary-foreground: 0 0% 100%;
      --secondary: 168 92% 25%;
      --secondary-foreground: 0 0% 100%;
      --accent: 72 11% 35%;
      --accent-foreground: 0 0% 100%;
      --destructive: 15 90% 30%;
      --destructive-foreground: 15 90% 90%;
      --ring: 198 92% 25%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 198 34% 0%;
      --foreground: 198 36% 97%;
      --muted: 168 23% 5%;
      --muted-foreground: 168 8% 71%;
      --popover: 198 34% 0%;
      --popover-foreground: 198 36% 97%;
      --card: 198 34% 0%;
      --card-foreground: 198 36% 97%;
      --border: 198 15% 14%;
      --input: 198 15% 14%;
      --primary: 198 92% 25%;
      --primary-foreground: 0 0% 100%;
      --secondary: 168 92% 25%;
      --secondary-foreground: 0 0% 100%;
      --accent: 27.06 100% 80%;
      --accent-foreground: 0 0% 0%;
      --destructive: 15 90% 52%;
      --destructive-foreground: 0 0% 100%;
      --ring: 198 92% 25%;
    }
  }
  
  
  
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }